extend base.pug
include mixins/File

block content 
    .banner 
        a(href="/sell") 
            img(src="https://cdn.campushow.com/banner/image/2022/01/21/1642737446737.png", alt="")
    .files
        each file in files 
            +file(file)
        else 
            li 등록된 자료가 없습니다.


