extends base

block content 
    form(method="post") 
        input(type="text", placeholder="판매글 제목 (100자 이하", name="title")
        select(name="type")
            option(value="-1", disabled, selected) 자료 유형 선택
            option(value="과제") 과제
            option(value="필기") 필기
            option(value="시험정보") 시험정보
        input(type="submit", value="등록하기")