footer 
    .footer_link
        a(href="#") 고객센터
        a(href="#") 공지사항
        a(href="#") 사업자 정보 확인
        a(href="#") 이용약관
        a(href="#") 개인정보처리방침
    small Copyright #{new Date().getFullYear()} Add It Inc. All Rights Reserved.