div 
    a(href="#") 공지사항
    a(href="#") 고객센터
    if !loggedIn
        a(href="/join") 회원가입 
        a(href="/login") 로그인 
    else
        a(href="/logout") 로그아웃 

div 
    a(href="/")  홈
    form(method="get", action="/search") 
        input(type="text", placeholder="찾으시는 자료를 검색하세요.", name="search", minlength="2", trim=true, required=true)
        input(type="submit", value="검색")
    a(href="/sell") 판매하기