div 
    a(href="/") 공지사항
    a(href="/") 고객센터
    a(href="/") 로그인 

div 
    a(href="/")  홈
    form(method="get", action="/search") 
        input(type="text", placeholder="찾으시는 자료를 검색하세요.", name=search)
        input(type="submit", value="검색")
    a(href="/sell") 판매하기