extends ../base

block content
    //- small #{errorMessage}
    .form_div 
        div
            form.form.form_file.form_info(method="post", enctype="multipart/form-data")
                input.input_file(type="file", id="uploadAvatar", name="uploadAvatar", accept="image/*")
                .div_label
                    label.label_nickname(for="nickname") 닉네임
                input(type="text", placeholder="닉네임", value=user.nickname, name="nickname")
                .div_label
                    label.label_campus(for="campus") 대학교
                input(type="text", placeholder="대학교", value=user.campus, name="campus")
                .div_label
                    label.label_profile(for="") 프로필 사진 
                div
                    input.input_filename(value="첨부파일", placeholder="첨부파일")
                    label.label_file(for="uploadAvatar") 파일선택 
                input.input_submit(type="submit", value="변경하기")
            if !user.socialOnly 
                form.form.form_password(method="post")
                    .div_label
                        label.label_password(for="") 비밀번호
                    input(type="password", placeholder="기존 비밀번호", name="oldPassword")
                    input(type="password", placeholder="변경할 비밀번호", name="password")
                    input(type="password", placeholder="비밀번호 한번 더 입력", name="password2")
                    input.input_submit(type="submit", value="변경하기")
block script 
    script(src="/static/js/myinfo.js") 