extends ../base
include ../mixins/File

block content
    .mypage
        h1 마이페이지
        .mypage_info
            .mypage_userInfo
                span=user.nickname
                span=user.email
                a(href="/myinfo") 회원정보 수정 
            .mypage_pointAndProfit 
                .mypage_point 
                    span 포인트
                    div
                        span 0 
                        <i class="fas fa-angle-right"></i>
                .mypage_profit
                    span 수익금
                    div
                        span 0 
                        <i class="fas fa-angle-right"></i>

    .files
        each file in user.files 
            +file(file)
        else 
            li 등록된 자료가 없습니다.